/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ******/

img.logo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 61.09px;
}

nav {
    display: flex; 
    justify-content: space-between;
    border-bottom: solid #FFFFFF; 
}

ul.navigation {
    display: flex;
    gap: 68px;
    padding-right: 50px;
    margin: 0;
}

li {
    height: 35px;
    display: flex;
    align-items: flex-end;
}

.navigation li:hover {
    color: #0065FC;
    border-top: solid #0065FC;
}

/****** Section recherches et filtres ******/

h1 {
    font-size : 22px ;
    margin: 0;
}
.recherches-et-filtres p {
    margin: 0;
    padding-bottom: 35px;
}

.localisation {
    padding-bottom: 35px ;
    height: 49px;
    display: flex;
}

i.fa-solid.fa-location-dot {    
    width: 49px;
    color: #000000;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.boutton-envoyer {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}

.loupe {
    width: 49px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    display: none;
}

i.fa-solid.fa-magnifying-glass {
    color: #FFFFFF;
}

.search-bar {
    border: 1px solid #F2F2F2 ;
}

::placeholder {
    color: #000000;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.filtres {
    display: flex;
    gap: 15px;
    padding-bottom: 35px;
}

.filtres h2 {
    font-size : 18px ;
}

.box {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 25px ;
    border: 2px solid #D9D9D9;
    font-size: 17px;
    background-color: #FFFFFF;
}

.box:hover {
    background-color: #DEEBFF
}

.infos {
    display: flex;
    gap : 10px;
}

i.fa-solid.fa-info {
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9 ;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Section Hebergements à Marseille ******/

#Hebergements h2 {
    margin-top: 0;
    font-size : 22px;
}

.cartes-hotels {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
}

.carte1, .carte2, .carte3, .carte4, .carte5, .carte6 {
    width: 217px;
}
.cartes-hotels img {
    width: 100%;
    height: 124px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.cartes-hotels h3 {
    margin : 0; 
    font-size: 16px;
}

.cartes-hotels p {
    font-size: 14px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
#Hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/******* Section Activités ******/

#Activites {
    margin-bottom: 60px;
}

.container {
    display: flex;
    gap: 30px;
}

.container img {
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.container h3 {
    font-size: 16px;
    padding-left: 15px;
    height: 15%;
}

.activite-marseille {
    width: 23%;
    max-height: 439px;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
}

/****** Footer ******/

footer {
    background-color: #F2F2F2;
    display: flex;
}

.a-propos, .nos-hebergements, .assistance {
    width: 480px;
    padding: 20px;
}

footer h2 {
    font-size: 18px;
    margin: 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .box {
        width: 100%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #Hebergements {
        width: 100%;
    }
    
    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-marseille img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    nav {
        flex-direction: column;
        align-items: center;
    }

    .navigation li {
        align-items: flex-start;
    }
    
    .navigation li:hover {
        border-top: none;
        border-bottom:solid #0065FC;
    }

    .boutton-envoyer {
        display: none;
    }

    .loupe {
        display: block;
    }

    .filtres h2 {
        width: 100%;
    }

    .filtres {
        flex-wrap: wrap;
    }

    .box {
        width: 45%;
        height: 50px;
        flex-wrap: wrap;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .populaires-cards {
        flex-direction: column ;
    }

    .populaires-cards a {
        width: 100%;
    }

    #Hebergements {
        background-color: #FFFFFF;
        padding-left: 0;
        padding-right: 0
    }

    .card {
        width: 100%;
    }

    .carte1, .carte2, .carte3, .carte4, .carte5, .carte6 {
        width: 100%;
    }

    .container {
        flex-direction: column;
    }

    .activite-marseille {
        width: 100%;
    }

    footer {
        flex-direction: column;
    }

}